/* source-sans-pro-300 - latin */

@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 300;
    src: url('fonts/source-sans-pro-v18-latin-300.eot');
    /* IE9 Compat Modes */
    src: local(''), url('fonts/source-sans-pro-v18-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/source-sans-pro-v18-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
    url('fonts/source-sans-pro-v18-latin-300.woff') format('woff'), /* Modern Browsers */
    url('fonts/source-sans-pro-v18-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
    url('fonts/source-sans-pro-v18-latin-300.svg#SourceSansPro') format('svg');
    /* Legacy iOS */
}


/* source-sans-pro-regular - latin */

@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/source-sans-pro-v18-latin-regular.eot');
    /* IE9 Compat Modes */
    src: local(''), url('fonts/source-sans-pro-v18-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/source-sans-pro-v18-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('fonts/source-sans-pro-v18-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('fonts/source-sans-pro-v18-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('fonts/source-sans-pro-v18-latin-regular.svg#SourceSansPro') format('svg');
    /* Legacy iOS */
}


/* source-sans-pro-700 - latin */

@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 700;
    src: url('fonts/source-sans-pro-v18-latin-700.eot');
    /* IE9 Compat Modes */
    src: local(''), url('fonts/source-sans-pro-v18-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/source-sans-pro-v18-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('fonts/source-sans-pro-v18-latin-700.woff') format('woff'), /* Modern Browsers */
    url('fonts/source-sans-pro-v18-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
    url('fonts/source-sans-pro-v18-latin-700.svg#SourceSansPro') format('svg');
    /* Legacy iOS */
}


/* source-sans-pro-regular - latin */

@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/source-sans-pro-v18-latin-regular.eot');
    /* IE9 Compat Modes */
    src: local(''), url('fonts/source-sans-pro-v18-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/source-sans-pro-v18-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('fonts/source-sans-pro-v18-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('fonts/source-sans-pro-v18-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('fonts/source-sans-pro-v18-latin-regular.svg#SourceSansPro') format('svg');
    /* Legacy iOS */
}


/* source-sans-pro-600 - latin */

@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    src: url('fonts/source-sans-pro-v18-latin-600.eot');
    /* IE9 Compat Modes */
    src: local(''), url('fonts/source-sans-pro-v18-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/source-sans-pro-v18-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
    url('fonts/source-sans-pro-v18-latin-600.woff') format('woff'), /* Modern Browsers */
    url('fonts/source-sans-pro-v18-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
    url('fonts/source-sans-pro-v18-latin-600.svg#SourceSansPro') format('svg');
    /* Legacy iOS */
}


/* source-sans-pro-900 - latin */

@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 900;
    src: url('fonts/source-sans-pro-v18-latin-900.eot');
    /* IE9 Compat Modes */
    src: local(''), url('fonts/source-sans-pro-v18-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/source-sans-pro-v18-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
    url('fonts/source-sans-pro-v18-latin-900.woff') format('woff'), /* Modern Browsers */
    url('fonts/source-sans-pro-v18-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
    url('fonts/source-sans-pro-v18-latin-900.svg#SourceSansPro') format('svg');
    /* Legacy iOS */
}


/* cairo-regular - latin */

@font-face {
    font-family: 'Cairo';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/cairo-v14-latin-regular.eot');
    /* IE9 Compat Modes */
    src: local(''), url('fonts/cairo-v14-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/cairo-v14-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('fonts/cairo-v14-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('fonts/cairo-v14-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('fonts/cairo-v14-latin-regular.svg#Cairo') format('svg');
    /* Legacy iOS */
}


/* cairo-600 - latin */

@font-face {
    font-family: 'Cairo';
    font-style: normal;
    font-weight: 600;
    src: url('fonts/cairo-v14-latin-600.eot');
    /* IE9 Compat Modes */
    src: local(''), url('fonts/cairo-v14-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/cairo-v14-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
    url('fonts/cairo-v14-latin-600.woff') format('woff'), /* Modern Browsers */
    url('fonts/cairo-v14-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
    url('fonts/cairo-v14-latin-600.svg#Cairo') format('svg');
    /* Legacy iOS */
}


/* cairo-700 - latin */

@font-face {
    font-family: 'Cairo';
    font-style: normal;
    font-weight: 700;
    src: url('fonts/cairo-v14-latin-700.eot');
    /* IE9 Compat Modes */
    src: local(''), url('fonts/cairo-v14-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/cairo-v14-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('fonts/cairo-v14-latin-700.woff') format('woff'), /* Modern Browsers */
    url('fonts/cairo-v14-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
    url('fonts/cairo-v14-latin-700.svg#Cairo') format('svg');
    /* Legacy iOS */
}


/* roboto-regular - latin */

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/roboto-v29-latin-regular.eot');
    /* IE9 Compat Modes */
    src: local(''), url('fonts/roboto-v29-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/roboto-v29-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('fonts/roboto-v29-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('fonts/roboto-v29-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('fonts/roboto-v29-latin-regular.svg#Roboto') format('svg');
    /* Legacy iOS */
}


/* roboto-700 - latin */

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('fonts/roboto-v29-latin-700.eot');
    /* IE9 Compat Modes */
    src: local(''), url('fonts/roboto-v29-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/roboto-v29-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('fonts/roboto-v29-latin-700.woff') format('woff'), /* Modern Browsers */
    url('fonts/roboto-v29-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
    url('fonts/roboto-v29-latin-700.svg#Roboto') format('svg');
    /* Legacy iOS */
}